body {
    background-color: rgba(128, 128, 128, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}  


/* Header */
.navbar{
    display: flex;
    margin: 20px;
    font-size: large;
    font-weight: 520;
}

.navbar > div{
    width: 50%;
}

.menu{
    display: flex;
}

.menu > div{
    width: 40%;
    text-align: right;
}

/* Hero */
.post_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin: 50px 50px;
}

/* Post */
.post{
    background-color:white;
    text-align: center;
    border-radius: 5px;
    width: 300px;
}

.post__header{
    display: flex;
}

.post__buttons{
    display: flex;
}

.user_info{
    display: flex;
    align-items: center;
}

.user_info > span{
    padding: 5px;
    text-align: left;
    margin-left: 5px;
    width: 200px;
}

/* Avatar */
.user_ava {
    height: 35px;
    width: 35px;
    /* padding: 7px; */
    border-radius: 20px;
    /* background-color: blue; */
    justify-content: center;
    margin: 3px;
    background-image: url(./assets/good_1_2_optimized.png);
    background-position: center;
}

/* Tags */
.tags{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
}

/* Image */
.post__image {
    width: 100%;
}

/* LikeButton */

.like__section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.like_button{
    height: 25px;
    width: 25px;
    background-image: url(./assets/heart_66744_3_optimized.png);
    background-position: center;
    margin-left: 10px;
    margin-right: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.like_stats{
    height: 25px;
    width: 45px;
    margin-right: 20px;
    align-content: center;
}

/* CommentButton */
.comment_button__section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment_button{
    height: 25px;
    width: 25px;
    background-image: url(./assets/chat_134800_optimized.png);
    background-position: center;
    margin-left: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.comment_stats{
    height: 25px;
    width: 45px;
    align-content: center
}

/* MoreButton */
.more_button{
    height: 25px;
    width: 25px;
    background-image: url(./assets/more-options_70339_optimized.png);
    background-position: center;
    margin-left: 155px;
    border: none;
    background-color: white;
    cursor: pointer;
}